.title {
    color: #000000;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 26px;
}

.description {
    width: 952px;
    color: #7D7987;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 80px;
    margin-left: 140px;
}

.line {
    border: 2px solid black;
    width: 56px;
    margin-bottom: 33px;
    position: relative;
    left: 48%;
    border-radius: 5px;
}

.vector img {
    width: 1118px;
    height: 968px;
    position: absolute;
    right: 48%;
    margin: 0 auto ;
    z-index: 1;
}

.element img {
    position: absolute;
    left: 78%;
    margin-top: 550px;
}

.button {
    width: 200px;
    height: 56px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    background-color: white;
    color: #458FF6;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 27%;
    margin-top: 50%;
    cursor: pointer;
    
}

.button:hover {
    background-color: #458FF6;
    color: white;
}

@media (max-width: 1200px) {
    .description {
        width: 900px;
        left: 0;
        margin-left: 50px;
    }
    .button {
        margin-top: 75%;
        left: 125px;
    }
}

@media (max-width: 991px) {
    

}

@media (max-width: 768px) {
    .service {
        width: 560px;
    }
    .title {
        margin-left: 195px;
        font-size: 32px;
    }
    .line {
        margin-left: 85px;
    }
    .description {
        width: 560px;
        margin-left: 105px;
    }
    .button {
        margin-top: 1080px;
        left: 75px;
    }
}

@media (max-width: 576px) {
    .service {
        max-width: 360px;
    }
    .title {
        width: 190px;
        font-size: 26px;
        margin-left: 90px;
    }
    .line {
        border: 1px solid black;
        margin-left: -10px;
    }
    .description {
        width: 280px;
        margin-left: 43px;
    }
    .button {
        margin-top: 1450px;
        left: -15px;
    }
}