.container {
    width: 1905px;
    height: 432px;
    background: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
}


.items{
    display: flex;
    margin-top: 130px;
    margin-right: 430px;
}

.items a {
    display: flex;
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
}

.item_company {
    margin-right: 177px;
}

.item_region {
    margin-right: 166px;
}

.title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
}

.logo_name {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.logo_T {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: white;
    color: #5B9BF3;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    margin-top: 17px;
}

.text {
    width: 390px;
    color: white;
    margin-bottom: 31px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.copyright {
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.left_side {
    margin-left: 17%;
    margin-top: 118px;
}

.dots {
    position: absolute;
    top: 75%;
}

@media (max-width: 1200px) {
    .container {
        max-width: 985px;
    }
    .left_side {
        margin-left: 50px;
    }
    .item_company {
        margin-right: 70px;
        margin-left: 40px;
    }
    .item_region {
        margin-left: 25px;
        margin-right: 40px;
        
    }
    .item_help {
        margin-left: 40px;
    }
}

@media (max-width: 991px) {
    

}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}