.wrapper{
    display: flex;
}

.title {
    width: 254px;
    height: 96px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 30px;
}

.description {
    width: 370px;
    height: 120px;
    color: #7D7987;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px; 
    margin-bottom: 40px;
}

.button {
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 55px;
    color: #458FF6;
    border: 1.5px solid #458FF6;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    cursor: pointer;
    margin-bottom: 344px;
}

.button:hover {
    background-color: #458FF6;
    color: white;
}

.text {
    width: 420px;
    height: 375px;
    margin-right: 71px;
    
}

.line {
    width: 56px;
    border: 2px solid black ;
    border-radius: 6px;
    margin-bottom: 31px;
}

.arrowDown {
    height: 15px;
    margin-bottom: 2px;
    margin-left: 15px;
}


@media (max-width: 1200px) {
    .wrapper {
        max-width: 960px;
        margin-top: -100px;
    }
    .text {
        margin-left: 50px;
    }
    .down_load img {
        width: 400px;
        height: 305px;
        margin-right: 50px;
    }
    .button {
        margin-left: 60px;
    }
}

@media (max-width: 991px) {
    

}

@media (max-width: 768px) {
    .down_load img{
        width: 300px;
        height: 210px;
        margin-left: -110px;
        
    }
    .title {
        width: 500px;
        margin-top: -100px;
        margin-left: 110px;
    }
    .line {
        margin-top: -50px;
        margin-left: 300px;
    }
    .text {
        margin-bottom: -50px;
    }
}

@media (max-width: 576px) {
    .down_load img {
        display: none;
    }
    .title {
        font-size: 26px;
        width: 190px;
        text-align: center;
        margin-left: 40px;
        line-height: normal;
        margin-top: -120px;
    }
    .line {
        border: 1px solid black;
        margin-left: 110px;
        margin-top: -30px;
    }
    .description {
        width: 280px;
        text-align: center;
    }
    .button {
        margin-top: 50px;
        margin-left: 30px;
    }
}