.wrapper{
  display: flex;  
  margin-top: 220px;
  padding-bottom: 265px;
}

.button {
    width: 200px;
    height: 56px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    background-color: white;
    color: #458FF6;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.button:hover {
    background-color: #458FF6;
    color: white;
}

.title {
    width: 335px;
    height: 112px;
    color: #000000;
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;   
    margin-bottom: 26px;
}

.description {
    color: #7D7987;
    font-family: 'Mulish';
    font-weight: lighter;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 37px;
}

.line {
    width: 56px;
    border: 2px solid black ;
    border-radius: 10px;
    margin-bottom: 31px;
}

.text {
    margin-left: 142px;
    width: 486px;
    height: 388px;
}

.element img {
    position: absolute;
    right: 0;
    left: 83%;
    margin-top: 200px;
}

@media (max-width: 1200px) {
    .back_image img {
        width: 400px;
        height: 305px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .text {
        margin-right: 50px;
        margin-left: 50px;
    }
    .button {
        margin-left: 100px;
    }
    .wrapper {
        margin-top: 190px;
    }
    .element img {
        display: none;
    }
}

@media (max-width: 991px) {
    
}

@media (max-width: 768px) {
    .back_image img {
        width: 300px;
        height: 210px;
        margin-top: 100px;
    }
    .title {
        width: 500px;
        margin-left: -262px ;
        margin-top: -30px;
    }
    .line {
        margin-top: -60px;
        margin-left: -40px;
    }
    .button {
        margin-left: 50px;
    }

}

@media (max-width: 576px) {
    
}