.navbar {
    width: 100%;
}

.logo img {
    width: 160px;
    height: 41px;
    margin-left: 330px;
}

.justify-content-end{
    width: 1050px;
    
}

@media (max-width: 1200px) {
    .navbar {
        max-width: 960px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .logo img {
        margin-left: 40px;
    }
    .menu {
        margin-right: 40px;
    }
}

@media (max-width: 991px) {
    .navbar {
        max-width: 760px;
        margin-left: 5px;
        background: yellow;
    }
    .logo img {
        width: 120px;
        height: 30px;
    }

}

@media (max-width: 768px) {
    .navbar {
        max-width: 710px;
        background: blue;
    }
    .justify-content-end{
        display: flex;
        max-width: 710px;
        
    }
    .nav-link {
        display: flex;
        justify-content: center;
        padding-right: 50px;
    }
}

@media (max-width: 576px) {
    .navbar {
        max-width: 355px;
    }
    .justify-content-end{
        display: flex;
        max-width: 360px;
        

    }
    .logo img {
        width: 120px;
        height: 30px;
        margin-left: 5px;
    }
}