.title {
    color: #000000;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
}

.description {
    width: 245px;
    color: #7D7987;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.card {
    width: 330px;
    height: 354px;
    border-radius: 50px;
    box-shadow: 10px 40px 15px 2px rgba(229, 233, 246, 0.3) ;
    padding-left: 30px;
    margin-bottom: 37px;
    background-color: white;
    position: relative;
    
}

.card img {
    margin-top: 54px;
    margin-bottom: 22px;
    
}

.cards {
    display: grid;
    grid-template-columns: 1.6fr 1.6fr 1fr;
    margin-bottom: 37px;
    position: relative;
    z-index: 2;
  
}

.emergency img {
    margin-bottom: 45px;
}

.pharmacy img {
    margin-bottom: 30px;
}

.doctor img {
    margin-bottom: 28px;
}



@media (max-width: 1200px) {
    .card {
        width: 280px;
        height: 320px;       
    }
    .cards {
        margin-left: 50px;
        margin-right: 40px;
    }
}
@media (max-width: 414px) {
    
}

@media (max-width: 768px) {
    .cards { 
        max-width: 560px;
        display: grid;
        grid-template-columns: 1.6fr 1.6fr;
        left: 40px;
    }
    .card {
        margin-right: 35px;
    }
    .card img {
        width: 25%;
    }
    .pharmacy img {
        margin-bottom: 30px;
        margin-top: 28px;
    }
}

@media (max-width: 576px) {
    .cards {
        max-width: 360px;
        display: grid;
        grid-template-columns: 1.6fr;
        left: -10px;
    }
    .card img {
        width: 15%;
        margin: 0;
        margin-left: 112px;
        margin-top: 10px;
    }
    .card {
        height: 205px;
        padding-left: 20px;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .description {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
}